<table class="table table-dark" *ngIf="data.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Art Work</th>
      <th scope="col">Country</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">
        <a class="anchor" href="{{ item['artistViewUrl'] }}">{{
          item["collectionCensoredName"]
        }}</a>
      </th>

      <th scope="row">{{ item["country"] }}</th>
    </tr>
  </tbody>
</table>
